body {
  background-color: #211e1e;
  color: #cdc0bf;
}
/*--- navigation bar ---*/
.b-site-header {
  background-color: #dad0cf;
  display: flex;
  align-items: flex-end;
}
.b-site-nav {
  width: auto;
  position: static;
  display: block;
  margin-left: 0;
  margin-bottom: .25em;
  padding: 0;
  background: 0 0;
  box-shadow: none;
}
.nav-link,
.navbar-brand {
  color: rgb(24, 20, 20);
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: rgb(17, 8, 8);
}
.navbar-collapse {
  color: black;
}
li {
  line-height: 2.0;
}
p {
  margin: 10px 0;
  padding: 5px;
}
h1 {
  color: #e2e2b6
}
a:hover {
  color: #57dbe6;
}