<div class="content">
  <div class="item">
    <h3 class="title">🎓 MS Computer Science</h3>
    <h4>Qwasar College of Engineering - Woolf University <span class="year">(2025 - )</span></h4>
  </div>

  <div class="item">
    <h3 class="title">🎓 MM Music Performance</h3>
    <h4>San Francisco Conservatory Of Music <span class="year">(2003-2005)</span></h4>
  </div>

  <div class="item">
    <h3 class="title">🎓 BM Music Performance</h3>
    <h4>Northwestern University <span class="year">(1999-2003)</span></h4>
  </div>
</div>
