<div class="content">
  <div class="item">
    <h3 class="title">Architect I: R&D - <span class="place"><a href="https://www.linkedin.com/company/american-express/posts/?feedView=all" target="_blank">American Express</a></span> <span class="year">(2025: Contract)</span></h3>
    <ul>
      <li>Conduct research, design solutions, and explore emergent technologies such as post-quantum cryptography and generative AI</li>
      <li>Develop foundational frameworks, prototypes, and proofs of concept that pave the way for innovative applications and advancements aligned with organizational goals</li>
      <li>Collaborate with internal organizations, external vendors, industry partners, and technology providers to evaluate, integrate and influence solutions shaping the direction of future innovations</li>
    </ul>
  </div>

  <div class="item">
    <h3 class="title">Senior Software Engineer - <span class="place"><a href="https://arkproject.com/" target="_blank">Ark Project</a></span> <span class="year">(2024 - 2025)</span></h3>
    <ul>
      <li>Architected and deployed custom end-to-end AI systems, with speech-to-text/text-to-speech and interactive video</li>
      <li>Designed and implemented RAG-based AI solutions with custom training data for enhanced information retrieval</li>
      <li>Architected full-stack Django applications, implementing features from database design to front-end development</li>
      <li>Orchestrated containerized deployments using AWS services (EKS, ECR, RDS), Docker, and Kubernetes</li>
      <li>Engineered and deployed healthcare API dashboard, fast-tracking technical review from 8 weeks to 3</li>
    </ul>
  </div>

  <div class="item">
    <h3 class="title">Team Lead: Software Engineer Contributors - <span class="place"><a href="https://scale.com/" target="_blank">ScaleAI</a></span> <span class="year">(2023 - 2024: Contract)</span></h3>
    <ul>
      <li>Trained cutting-edge proprietary AI large language models to improve code writing ability in numerous languages, on projects ranging from computer science logic/reasoning to producing functional end-to-end applications</li>
      <li>Solved discrete, highly variable problems while engaging with LLM's to write functional and efficient code, including robust test cases to confirm code worked efficiently and effectively</li>
      <li>Evaluated the quality of AI-generated code, including human-readable summaries</li>
      <li>Acted as focal point of communication between 25+ team members and ScaleAI engineers/project managers</li>
      <li>Identified and resolved issues affecting project or team performance. Implemented innovative solutions to overcome challenges as the team scaled rapidly</li>
    </ul>
  </div>

  <div class="item">
    <h3 class="title">Software Engineer - <span class="place"><a href="https://www.evercast.us/" target="_blank">Evercast</a></span> <span class="year">(2021 - 2023)</span></h3>
    <ul>
      <li>Developed custom tool for Admin Portal using React/Typescript/Node for account verification emails, saving ~5-10 dev hours/week</li>
      <li>Automated process of deleting client recordings from AWS S3 using Python Boto3, helping reduce AWS costs by 70%</li>
      <li>Automated platform usage reports (PSQL, AWS Lambda, Google Cloud) to share data directly with senior management and support</li>
      <li>Debugged and documented services in Go (Room Scheduler) and C (Janus WebRTC server) to streamline developer onboarding</li>
      <li>Refactored authentication service (Typescript, Node) for Okta integration to satisfy strict security for global enterprise clients</li>
    </ul>
  </div>

  <div class="item">
    <h3 class="title">Developer Intern - <span class="place"><a href="https://www.beezwax.net" target="_blank">Beezwax Datatools</a></span> <span class="year">(2021)</span></h3>
    <ul>
      <li>Built FileMaker applications with emphasis on Schema Design, Relational Database Normalization</li>
      <li>Studied internal company tools for Scripting, Record Manipulation, Auditing, UI/UX, and Event Management Conversion in application architecture</li>
    </ul>
  </div>
</div>
