<div class="content">
  <div class="row">
    <div class="col-md-6">
      <img class="img-thumbnail img-responsive" src="/assets/images/projects/musicbrain.png" alt="musicbrain" style="max-width: 100%;" />
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>🎧 <a href="https://www.youtube.com/watch?v=ocTZnM0U-T0" target="_blank">Brandt Brauer Frick</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=Ah392lnFHxM" target="_blank">Glenn Gould: J.S. Bach</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=7aUihIluYbk" target="_blank">The Roots</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=8cBSndykNQo" target="_blank">Supreme Beings of Leisure</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=g6w3a2v_50U" target="_blank">Joao Gilberto</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?reload=9&v=OoA0cTC228M" target="_blank">LCD Soundsystem</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=fdakJqKPRDE&list=RDfdakJqKPRDE&start_radio=1" target="_blank">Sonny Rollins</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=2NQ8woXu07c" target="_blank">Radiohead</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=oFK6k-pvXmI" target="_blank">Janelle Monåe</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=HxFFKn9dBDE" target="_blank">Gail Williams</a></li>
        <li>🎧 <a href="https://www.youtube.com/watch?v=2DQYGOiaZVI" target="_blank">Hillary Hahn</a></li>
      </ul>
    </div>
  </div>
</div>
