<div class="content">
  <h3 class="title">Code For Chicago</h3>
  <div class="item">
    <h4><a href="https://github.com/Code-For-Chicago/greater-chicago-food-despository-ui" target="_blank">Greater Chicago Food Depository</a> <span class="badge badge-theme">Project</span></h4>
    <p class="summary">Use Mapbox GL and React to overlay demographic data onto map of Greater Chicago helping identify food distribution sites.
      <a class="more-link" href="https://github.com/Code-For-Chicago/greater-chicago-food-despository-ui/pull/29" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>

  <hr class="divider" />

  <h3 class="title">Mozilla Firefox - Debugger</h3>
  <div class="item">
    <h4><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1543261" target="_blank">Conditional Panel</a> <span class="badge badge-theme">Bug Fix</span></h4>
    <p class="summary">Fix a bug and update the logic used when opening the breakpoint conditional panel using the keyboard shortcut.
      <a class="more-link" href="https://phabricator.services.mozilla.com/D32795" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>

  <div class="item">
    <h4><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1565011" target="_blank">Blackbox Sources</a> <span class="badge badge-theme">Feature</span></h4>
    <p class="summary">Un-blackbox a source and add a breakpoint when the gutter is clicked.
      <a class="more-link" href="https://hg.mozilla.org/integration/autoland/rev/c226956f09f9" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
      <a class="more-link" href="https://www.loom.com/share/06dc0fe5a5ff4487be282d406586bd29" target="_blank"><i class="fas fa-external-link-alt"></i> Video Walkthrough</a>
    </p>
  </div>

  <div class="item">
    <h4><a href="https://github.com/firefox-devtools/debugger/pull/8134" target="_blank">Quick Open Modal</a> <span class="badge badge-theme">Enhancement</span></h4>
    <p class="summary">Limit the number of source file descriptors displayed in the Quick Open Modal to 100.
      <a class="more-link" href="https://github.com/firefox-devtools/debugger/pull/8134/commits/8eb92ef02d9f8f5ecea7660c5abda361cd6481d6" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>

  <div class="item">
    <h4><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1561577" target="_blank">Shortcuts Modal</a> <span class="badge badge-theme">Bug Fix</span></h4>
    <p class="summary">Fix bug when closing shortcuts modal with the escape key.
      <a class="more-link" href="https://hg.mozilla.org/integration/autoland/rev/33eca9689b58" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>

  <div class="item">
    <h4><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1573241" target="_blank">Logpoint Panel</a> <span class="badge badge-theme">Bug Fix</span></h4>
    <p class="summary">Close previously opened conditional or logpoint panel on right-click to gutter.
      <a class="more-link" href="https://hg.mozilla.org/integration/autoland/rev/186c61bb0eff" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>

  <div class="item">
    <h4><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1574053" target="_blank">Column Breakpoints</a> <span class="badge badge-theme">Feature</span></h4>
    <p class="summary">Allow user to disable column breakpoints with shift-click.
      <a class="more-link" href="https://hg.mozilla.org/integration/autoland/rev/b7d1b3ab0fb5" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>

  <div class="item">
    <h4><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1574053" target="_blank">Sources: Pretty-Print</a> <span class="badge badge-theme">Bug Fix</span></h4>
    <p class="summary">Show correct sources on pretty-print.
      <a class="more-link" href="https://hg.mozilla.org/integration/autoland/rev/cb54e53665de" target="_blank"><i class="fas fa-external-link-alt"></i> View Code</a>
    </p>
  </div>
</div>
